body{
  height: 100vh;
  max-width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 85px 1fr 100px;
  grid-template-areas: 
    "nav"
    "main"
    "footer";
}

body::-webkit-scrollbar{
  display: none;
}

/* styling nav */
.nav{
  position: sticky;
  top: 0;
  margin: 0;
  display: grid;
  grid-template-areas: "title list buttons";
  grid-template-columns: 245px 1fr 180px; 
  grid-template-rows: 1fr;
  height: 85px;
  width: 100vw;
  background-color: #1f2937;
}

.nav__titlecontainer{
  grid-area: title;
  display: flex;
  color: #0d6efd;
  align-items: center;
  justify-items: center;
  padding: 0px 10px 0px 10px;
}

.nav__lstcont{
  grid-area: list;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.nav__lstcont--list{
  display: flex;
  list-style: none;
  justify-items: end;
  align-items: center;
  margin-bottom: 0;
}

.nav__lstcont--list li{
  margin-inline-end: 20px;
}

.nav__lstcont li a{
  font-size: 15px;
  text-decoration: none;
  color: #c2c5c9;
}

.nav__lstcont li a:hover{
  color: #0d6efd;
}

.nav__btncont{
  display: flex;
  flex-wrap: wrap;
  grid-area: buttons;
  justify-content: center;
  align-items: center;
}

.btn{
  margin-inline-end: 3px;
}

.nav__menubtn{
  display: none;
}

.nav__close--menubtn{
  display: none;
}

/* mobile styling */
@media(max-width: 730px) {
  body{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 85px 1fr 100px;
    grid-template-areas: 
      "nav"
      "main"
      "footer";
  }

  .nav{
    /* position: sticky;
    top: 0; */
    margin: 0;
    display: grid;
    grid-template-areas: "dropdown title buttons";
    grid-template-columns: 80px 1fr 180px;
    grid-template-rows: 1fr;
    height: 85px;
    width: 100vw;
    background-color: #1f2937;
  }

  .nav__titlecontainer{
    grid-area: title;
    display: flex;
    color: #0d6efd;
    align-items: center;
    justify-content: flex-start;
    padding: 3px 10px 0px 10px;
  }

  .nav__menubtn{
    color: #0d6efd;
    display: flex;
    grid-area: dropdown;
    padding-inline-end: 25px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
  }

  .nav__menubtn--hide{
    display: none;
  }

  .nav__close--menubtn{
    display: none;
    grid-area: dropdown;
    color: #0d6efd;
    padding-inline-end: 25px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
  }

  .close--show{
    display: flex;
  }
  
  .nav__lstcont{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 80vw;
    height: 10vh;
    top: 85px;
    left: -100%;
    background-color: #1f2937;
    border: solid 2px #0d6efd;
    transition: left 0.2s linear;
  }

  .nav__list-visible{
    left: 10%;
  }

  .body-no-scroll{
    overflow: hidden;
  }

  .nav__lstcont--list{
    list-style: none;
    margin-bottom: 0;
  }


  .nav__lstcont li a{
    font-size: 20px;
    text-decoration: none;
    color: #c2c5c9;
  }

  .nav__lstcont li a:hover{
    color: #0d6efd;
  }

  .nav__btncont{
    grid-area: buttons;
    display: flex;
    flex-wrap: wrap;
    
  }
}


/* styling footer */
.footer{
  position: sticky;
  bottom: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "cpy sm";
  height: 100px;
  width: 100vw;
  background-color: #1f2937;
}

.footer__titlecontainer{
  grid-area: cpy;
  display: flex;
  color: #0d6efd;
  align-items: center;
  justify-items: start;
  padding: 0px 10px 0px 10px;
}

.footer__smcontainer{
  grid-area: sm;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-items: center;
  color: #0d6efd;
}

.footer__smcontainer a svg{
  margin-inline-end: 20px;
}

/* mobile styling for footer */
@media(max-width: 840px){
  .footer{
    /* position: sticky;
    bottom: 0; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 40px;
    grid-template-areas: 
      "title" 
      "sm";
    height: 100px;
    width: 100vw;
    background-color: #1f2937;
  }

  .footer__titlecontainer{
    grid-area: title;
    display: flex;
    color: #0d6efd;
    align-items: center;
    justify-content: center;
    padding: 0px 10px 0px 10px;
  }

  .footer__smcontainer{
    grid-area: sm;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: #0d6efd;
  }

  .footer__smcontainer a svg{
    margin-inline-end: 20px;
  }
}