body{
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 85px 1fr 85px;
  grid-template-areas: 
    "nav"
    "main"
    "footer";
}

/* styling nav */
.nav{
  margin: 0;
  display: grid;
  grid-template-areas: "title list buttons";
  grid-template-columns: 245px 1fr 180px; 
  grid-template-rows: 1fr;
  height: 85px;
  width: 100%;
  background-color: #1f2937;
}

@media screen and (max-width: 840px) {
  
}

.nav__titlecontainer{
  grid-area: title;
  display: flex;
  color: #0d6efd;
  align-items: center;
  justify-items: center;
  padding: 0px 10px 0px 10px;
}

.nav__lstcont{
  grid-area: list;
  display: flex;
  flex-wrap: wrap;
}

.nav__lstcont--list{
  display: flex;
  list-style: none;
  justify-items: end;
  align-items: center;
  margin-bottom: 0;
}

.nav__lstcont--list li{
  margin-inline-end: 20px;
}

.nav__lstcont li a{
  font-size: 15px;
  text-decoration: none;
  color: #c2c5c9;
}

.nav__lstcont li a:hover{
  color: #0d6efd;
}

.nav__btncont{
  display: flex;
  flex-wrap: wrap;
  grid-area: buttons;
  justify-content: center;
  align-items: center;
}

.btn{
  margin-inline-end: 3px;
}

/* styling footer */
.footer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "cpy sm";
  height: 85px;
  width: 100%;
  background-color: #1f2937;
}

.footer__titlecontainer{
  grid-area: cpy;
  display: flex;
  color: #0d6efd;
  align-items: center;
  justify-items: start;
  padding: 0px 10px 0px 10px;
}

.footer__smcontainer{
  grid-area: sm;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-items: center;
  color: #0d6efd;
}

.footer__smcontainer a svg{
  margin-inline-end: 20px;
}