@import 'base.css';

.login_body{
    background-color: #111827;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.register-main{
  width: 100vw;
  height:100vh;
}


form{
    width: 500px;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    border-radius: 8px;
    margin-inline: 700px;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: #334155;
}

.form__titlecont{
    display: flex;
    color: #0d6efd;
    align-items: center;
    justify-content: center;
    padding: 10px 60px 0px 60px;
}

.fw-normal{
    padding-inline: 30px;
    color: white;
    display: flex;
    justify-content: center;

}

.form-floating{
    display: flex;
    padding-bottom: 10px;
    align-items: center;
    justify-content: center;
}

.form-floating > label{
    left: auto;
    transform-origin: center;
}

.input{
    padding-inline: 30px;
    justify-self: center;
}


.form-check-label{
    padding-inline: 30px;
    color: white;
}

.btn{
  display: flex;
  justify-content: center;
}


.py-2{
  margin-left: 50px;
  margin-right: 30px;
  display: flex;
  justify-content: center;
  width: 45%;
  flex-wrap: wrap;
}

.text-body-secondary{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    padding-inline: 30px;
    color: white;
}

/* mobile styling */
@media (max-width: 840px){
  form{
      width: 400px;
      height: 700px;
      display: flex;
      flex-wrap: wrap;
      margin-top: auto;
      border-radius: 8px;
      margin-inline: 30px;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      background-color: #334155;
  }

}

@media(max-width: 460px){
  
  
  form{
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-wrap: wrap;
      margin-top: auto;
      border-radius: 8px;
      margin-inline: 30px;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      background-color: #334155;
  }

  .login_body{
      background-color: #334155;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
}