@import 'base.css';

.post-main{
    background-color: #111827;
    max-width: 100vw;
}

.post-main__postcont{
    background-color: #334155;
    border-radius: 8px;
    text-align: left;
    display: block;
    margin-block: 40px;
    margin-inline: 10%;
    padding-bottom: 20px;
    height: auto;
    width: 80%;
    color: white;
}

.postcont--title{
    color: inherit;
    padding-top: 20px;
    margin-inline-start: inherit;
}

.postcont--datetime{
    color: inherit;
    margin-inline-start: inherit;
}

.postcont--image{
    padding-inline: 15%;
    width: 60%;
    height: 40%;
}

.comment-heading{
    color: white;
    text-align: center;    
}

.post-main__commentcont{
    background-color: #334155;
    border: solid 2px #0d6efd;
    border-radius: 8px;
    text-align: left;
    display: block;
    margin-block: 40px;
    margin-inline: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 80%;
    height: fit-content;
    color: white;
}

.comment-body{
    color: inherit;
    margin-inline-start: inherit;
    margin-inline-end: inherit;
}

.comment-form{
  background-color: #334155;
  border: solid 2px #0d6efd;
  border-radius: 8px;
  margin-block: 40px;
  margin-inline: 10%;
  padding: 20px 50px 20px 50px;
  width: 80%;
  height: fit-content;
  color: white;
}

.comment-form--field{
  /* margin-inline: 30%; */
}



.btn{
  display: flex;
  justify-content: center;
}


.py-2{
  display: flex;
  flex-wrap: wrap;
  width: 30%;
  margin-left: 150px;
  /* margin-right: 100px; */
  justify-content: center;
}

.comment_form--input{
  width: 50%;
  border-radius: 8px;
}


/* mobile styling */
@media(max-width: 840px){

  .post-main{
        width: 100vw;
    }

  .post-main__postcont{
      background-color: #334155;
      border-radius: 8px;
      text-align: left;
      display: block;
      margin-block: 40px;
      margin-inline: 10%;
      padding-bottom: 20px;
      height: auto;
      width: 80%;
      color: white;
  }

  .postcont--title{
      color: inherit;
      padding-top: 20px;
      margin-inline-start: inherit;
  }

  .postcont--datetime{
      color: inherit;
      margin-inline-start: inherit;
  }

  .postcont--image{
      /* padding-inline: 20px;*/
      margin-inline-start: inherit;
      width: 70%;
      height: 40%;
  }

  .comment-heading{
      color: white;
      text-align: center;    
  }

  .comment-form--field{
    margin-inline: 50px;
  }

  .btn{
    display: flex;
    justify-content: center;
  }


  .py-2{
    margin-left: 70px;
    /* margin-right: 100px; */
    display: flex;
    justify-content: center;
    width: 45%;
    flex-wrap: wrap;
  }

}