{% extends 'base.html' %}
{% load static %}

{% block content %}

<main class="post-main">
  <div class="post-main__postcont">
    <h3 class="postcont--title">{{posts.title}}</h3>
    <p class="postcont--datetime">By <img style="border-radius: 50%; height: 20px; width: 20px; margin-inline: 5px;" src="{% static 'assets/img/prof-pic.jpg' %}">Akshat Mishra . {{posts.datetime}}
    </p>
    {% if posts.image %}
    <img class="postcont--image" src="{{ posts.image.url }}">
    {% endif %}
    <p>{{posts.content|safe}}</p>
  </div>
  <hr style="color: white;">
  <h3 class="comment-heading">Comments</h3>
  <hr style="color: white;">
  <div class="post-main__commentcont">
    {% include 'components/comment_form.html' %}
  </div>
</main>

{% endblock %}

