<form  class="comment-form" method="post">
    {% csrf_token %}

    <div>
      {% for field in comment_form %}
      <p>
          {% if field.errors %}
          <ul class="errorlist">
              {% for error in field.errors %}
              <li>{{ error }}</li>
              {% endfor %}
          </ul>
          {% endif %}
          <div class="comment-form--field">
              {{field}} 
          </div>
      </p>
      {% endfor %}
    </div>
    

    {% if user.is_authenticated %}
        <button class="btn btn-primary" type="submit" fdprocessedid="b370s">Post</button>
    {% else %}
        <button disabled class="btn btn-primary" type="submit" fdprocessedid="b370s">Post</button>
        <p style="color: white; display: flex; justify-content: center;">Please sign in to post comment.</p>
    {% endif %}
</form>
