<form action="" class="container rounded border p-3 mt-4" method="post">
  {% csrf_token %}
    
  <textarea class='form-control' name='body' style="height:140px;" placeholder="Add a comment"></textarea>
    

  {% if user.is_authenticated %}
  <div class="my-4 text-center">
     <button class="btn btn-lg btn-secondary" type="submit" fdprocessedid="b370s">Post</button>
  </div>     
  {% else %}
  <div class="my-4 text-center">
    <button disabled class="btn btn-lg btn-secondary" type="submit" fdprocessedid="b370s">Post</button>
    <p class="lead text-danger">Please sign in to post comment.</p>
  </div>
  {% endif %}
</form>
