{% load static %}
{% load bootstrap_icons %}
<style>
  @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap')
</style>

<footer class="bg-secondary pt-3 px-3 mt-auto">
   <div class="row align-items-center">
     <div class="col-md-5 text-center text-md-start">
       <h1 class="display-5 display-md-6 fw-bold fst-italic text-light" style="font-family:Pacifico, sans-serif;">Akshat Scribes</h1>
       <p class="text-light">Thank you for visiting Akshat Scribes! I hope you liked what you read :)</p> 
      <div class="">
        <ul class="list-unstyled d-flex justify-content-center justify-content-md-start">
          <li><a href="https://www.linkedin.com/in/akshat--mishra" class="px-2 text-dark">{% bs_icon 'linkedin' size='25px' %}</a></li>
          <li><a href="https://twitter.com/imAkshatMishra" class="px-2 text-dark">{% bs_icon 'twitter-x' size='25px' %}</a></li>
          <li><a href="https://www.quora.com/profile/Akshat-Mishra-657" class="px-2 text-dark">{% bs_icon 'quora' size='25px' %}</a></li>
          <li><a href="https://github.com/Adm-2005" class="px-2 text-dark">{% bs_icon 'github' size='25px' %}</a></li>
        </ul>
      </div>
     </div>
     <div class="col-md-5  text-center text-md-start">
       <ul class="list-unstyled gap-3 gap-md-5 d-flex flex-column  flex-md-row">

         <li class="text-white mt-3 ">
           <h3>Pages</h3>
           <ul class="list-unstyled">
             <li class=""><a class="text-white text-decoration-none" href="/">Home</a></li>
             <li class=""><a class="text-white text-decoration-none" href="{% url 'signin' %}">Sign In</a></li>
             <li class=""><a class="text-white text-decoration-none" href="{% url 'signup' %}">Sign Up</a></li>
           </ul>
         </li>
         <li class="text-white mt-3 ">
           <h3>Connect</h3>
           <ul class="list-unstyled">
             <li>Mumbai, India</li>
             <li>akshatdmishra2005@gmail.com</li>
           </ul>
         </li>
       </ul>
     </div>
     <p class="text-start mt-3">&copy; Copyright <a class="text-decoration-none text-white" href="https://akshatmishra.onrender.com">Akshat Mishra</a></p>
   </div> 
</footer>