{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- loading bootstrap, css, js -->
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <!-- links -->
    
    <link rel="stylesheet" href="{% static 'assets/css/base.css'%}"/>
    <link rel="stylesheet" href="{% static 'assets/css/login.css' %}"/>

    <title>Sign In</title>
</head>
<body class="login_body">
    {% if messages %}
    <ul class="messages" style="list-style: none; color: white;">
        {% for message in messages %}
        <div style="margin:10px;" class="alert alert-warning alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    </ul>
    {% endif %}
    <main class="form-signin w-100 m-auto">
        <form method=POST>
            {% csrf_token %}
            <div class="form__titlecont">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16">
                    <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001"/>
                </svg>
                <h3>Akshat Scribes</h3>
            </div>
            
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

            <div class="form-floating">
                <input type="text" class="form-control" name="username" placeholder="John Doe" fdprocessedid="vucot8">
                <label for="floatingInput">Username</label>
            </div>
      
            <div class="form-floating">
                <input type="password" class="form-control" name="password" placeholder="Password" fdprocessedid="1vts0m">
                <label for="floatingPassword">
                Password
                </label>
            </div>
      
            <div class="form-check text-start my-3">
                
                <label class="form-check-label" for="flexCheckDefault">
                <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault">
                Remember me
                </label>
            </div>
            <button class="btn btn-primary py-2" type="submit" fdprocessedid="b370s">Sign in</button>
            <p class="mt-5 mb-3 text-body-secondary">&copy; Copyright   <a href="https://akshatme.pythonanywhere.com" target="_blank" style="text-decoration: none;">Akshat Mishra
            </a>
            </p>
        </form>
      </main>
</body>
</html>